<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>post page</title>
        <link rel="stylesheet" href="blog.css">
        <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
       

    </head>
    <body>

        

        <header>

            <div class="nav container">

                <a href="blog.html" class="logo"><span>F2F</span></a>

                <a href="#" class="login">login</a>
            </div>

            

            


        </header>

        <section class="post-header">
            <div class="header-content post-container">

                <a href="blog.html" class="back-home" ><span>Back To Home</span></a>

                <h1 class="header-title" id="blog-title"></h1>

                <img id="blog-image" src="" alt="" class="header-img">



            </div>
+
        </section>

        <section class="post-content post-container">
                
            <h2 class="sub-heading" id="sub-title"></h2>
            <p class="post-text" id="blog-text"> </p>
            

        </section>

        











        <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
        <script src="script.js"></script>
    </body>
</html>